.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
main {
    background-color: #18181B;
}

header {
    flex: 1;
    background-color: #18181B;
    color: #DADADA;
}

header a {
    color: white;
    text-align: left;
    padding-left: 15px;
    font-size: 16pt;
}

.navbar-brand {
    font-size: 1.1rem;
}
.top-row {
    border-bottom: 1px solid #80808038;
    background-color: #27272A;
    justify-content: flex-start;
    height: 4em;
    display: flex;
    align-items: center;
}
.exit {
    color: #DADADA;
    height: 3em;
    vertical-align: middle;
    display: flex;
    padding-top: 17px;
    padding-left: 17px;
    padding-right:17px;
}

    .exit:hover {
        background-color: #3F3F46;
    }
    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
@media (max-width: 575px) {
    .search {
        display:none;
    }
}

    @media (min-width: 992px) {
        .page {
            flex-direction: row;
        }

        .top-row {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .top-row, article {
        }
    }

    .input-group {
        max-width: 400px;
    }

        .input-group .login-form {
            float: left;
        }

        .input-group span {
            background-color: #3F3F46;
            color: #828282;
            border: 1px solid #27272A;
            border-right: 1px solid #3F3F46;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        .input-group input {
            background-color: #3F3F46;
            color: #828282;
            border: 1px solid #27272A;
            border-left: 1px solid #3F3F46;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

        .input-group .coin-stats {
            float: right;
        }
