.login-content {
    background-color: #18181B;
}

    .login-content .card {
        background-color: #27272A;
        border-radius: 20px;
    }

    .login-content a {
        text-decoration: none;
        color: #3e9bff;
    }

    .login-content input {
        background-color: #3F3F46;
        border-radius: 10px;
        outline-width: 0;
    }

.card-body input {
    background-color: #3F3F46;
    border-radius: 10px;
    outline-width: 0;
}

        

    .login-content .forgot {
        margin-top: 10px;
    }

    .login-content .sizing {
        max-width: 450px;
    }
