@page "/user/logout"
@inject HttpClient http
@inject ProtectedLocalStorage localStorage
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage localStorage
@inject ProtectedSessionStorage sessionStorage
@inject IAuthenticationService _AuthenticationService

<PageTitle>Logout</PageTitle>

 <div>a</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }
}