@page "/"
@using SkymeyLib.Models.Crypto.Tickers
@inject IHttpService httpService

<PageTitle>Index</PageTitle>

@if (crypto_tickers == null)
{

}
else
{
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">Asset</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in crypto_tickers)
            {
                <tr scope="row">
                    <td>
                    @item.BaseAsset
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private CryptoTickersView[]? crypto_tickers;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            crypto_tickers = await httpService.Get<CryptoTickersView[]>("https://localhost:5003/api/Crypto/GetTickers");
            StateHasChanged();
        }
    }
}